<div class="container">
    <h1>My Recipes</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Recipe title</th>
                <th scope="col">Recipe description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each recipes}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{ this.title }}</td>
                <td>{{ this.description }}</td>
                <td>
                    <a href="/recipes/{{ this._id }}/edit   " class="btn btn--link">Update</a>
                    <a
                        href=""
                        class="btn btn--link"
                        data-bs-toggle="modal"
                        data-bs-id="{{ this._id }}"
                        data-bs-target="#delete-recipe-modal"
                    >
                        Delete
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{!-- Confirm delete recipe --}}
    <div id="delete-recipe-modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm delete</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-delete-recipe" type="button" class="btn btn-danger">
                        Delete
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-recipe-form" method="POST"></form>

<script>
    const exampleModal = document.getElementById("delete-recipe-modal");
    var recipeID;
    var deleteForm = document.forms["delete-recipe-form"];
    var btnDeleteRecipe = document.getElementById("btn-delete-recipe");

    if (exampleModal) {
        exampleModal.addEventListener("show.bs.modal", (event) => {
            const button = event.relatedTarget;
            recipeID = button.getAttribute("data-bs-id");
        });
    }

    btnDeleteRecipe.onclick = function () {
        deleteForm.action = "/recipes/" + recipeID + "?_method=DELETE";
        deleteForm.submit();
    };
</script>
