<!-- views/me/user-info.hbs -->
<main class="profile">
    <div class="container">
        <div class="profile__container">
            {{!-- Header Section --}}
            <div class="profile__header">
                <div class="profile__avatar">
                    <img
                        src="{{#if user.profile_picture}}{{
                            user.profile_picture
                        }}{{else}}/assets/img/avatar.jpg{{/if}}"
                        alt="Profile Picture"
                    />
                </div>
                <div class="profile__info">
                    <h1 class="profile__name">{{ user.first_name }} {{ user.last_name }}</h1>
                    <p class="profile__username">@{{ user.username }}</p>
                    <div class="profile__actions">
                        <a href="/users/me/edit-profile" class="btn btn--primary">Edit Profile</a>
                        <a href="/recipes/create" class="btn btn--outline">Create Recipe</a>
                    </div>
                </div>
            </div>

            {{!-- Stats Section --}}
            <div class="profile__stats">
                <div class="profile__stat-item">
                    <span class="profile__stat-value">{{ user.followers.length }}</span>
                    <span class="profile__stat-label">Followers</span>
                </div>
                <div class="profile__stat-item">
                    <span class="profile__stat-value">{{ user.following.length }}</span>
                    <span class="profile__stat-label">Following</span>
                </div>
                <div class="profile__stat-item">
                    <span class="profile__stat-value">{{ myRecipes.length }}</span>
                    <span class="profile__stat-label">Recipes</span>
                </div>
            </div>

            {{!-- Content Section --}}
            <div class="profile__content">
                <div class="profile__main">
                    <h2 class="profile__section-title">My Recipes</h2>
                    <div class="profile__recipes"></div>
                </div>
                <div class="profile__sidebar">
                    <div class="profile__section">
                        <h2 class="profile__section-title">Account Info</h2>
                        <div class="profile__info-list">
                            <div class="profile__info-item">
                                <span class="profile__info-label">Email</span>
                                <span class="profile__info-value">{{ user.email }}</span>
                            </div>
                            <div class="profile__info-item">
                                <span class="profile__info-label">Member Since</span>
                                <span
                                    class="profile__info-value"
                                    >{{formatDate user.createdAt}}</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
