<div class="blog-card">
    <div class="blog-card__img-wrap">
        <a href="/blogs/{{ this.slug }}">
            {{#if this.image}}
            <img src="{{ this.image }}" class="blog-card__thumb" alt="{{ this.title }}" />
            {{else}}
            <img
                src="/assets/img/blog-placeholder.jpg"
                class="blog-card__thumb"
                alt="{{ this.title }}"
            />
            {{/if}}
        </a>
    </div>

    <div class="blog-card__content">
        <h3 class="blog-card__title">
            <a href="/blogs/{{ this.slug }}">{{ this.title }}</a>
        </h3>

        <div class="blog-card__meta">
            <a href="/users/{{ author._id }}" class="blog-card__author">
                <img
                    src="{{#if author.profile_picture}}{{
                        author.profile_picture
                    }}{{else}}/assets/img/avatar.jpg{{/if}}"
                    alt="{{ author.username }}"
                />
                <span>{{ author.first_name }} {{ author.last_name }}</span>
            </a>
            <div class="blog-card__stats">
                <span class="blog-card__stat">
                    <i class="fas fa-thumbs-up"></i>
                    {{ this.votes.upvotes }}
                </span>
                <span class="blog-card__stat">
                    <i class="fas fa-eye"></i>
                    {{ this.views }}
                </span>
                <span class="blog-card__stat">
                    <i class="fas fa-clock"></i>
                    {{ formatDate this.createdAt }}
                </span>
            </div>
        </div>

        <p class="blog-card__desc">{{ this.description }}</p>

        <div class="blog-card__actions">
            <a href="/blogs/{{ this.slug }}" class="btn btn--primary blog-card__btn"> Read More </a>
            {{#if (eq author._id @root.user._id)}}
            <a href="/blogs/{{ this._id }}/edit" class="btn btn--outline blog-card__btn"> Edit </a>
            {{/if}}
        </div>
    </div>
</div>
