<div class="recipe-card">
    <div class="recipe-card__img-wrap">
        <a href="/recipes/{{ this.slug }}" class="">
            {{#if this.image}}
                <img src="{{ this.image }}" class="recipe-card__thumb" alt="{{ this.title }}" />
            {{else}}
                <img src="/assets/img/recipe-placeholder.jpg" class="recipe-card__thumb" alt="{{ this.title }}" />
            {{/if}}
        </a>
    </div>
    <div class="recipe-card__content">
        <h3 class="recipe-card__title">
            <a href="/recipes/{{ this.slug }}">{{ this.title }}</a>
        </h3>
        <p class="recipe-card__desc">{{ this.description }}</p>
        <a href="/recipes/{{ this.slug }}" class="btn btn--primary recipe-card__btn">
            See details
        </a>
    </div>
</div>
