<!-- filepath: views/users/profile.hbs -->

<div class="profile__details">
    <p><strong>First Name:</strong> {{ profileUser.first_name }}</p>
    <p><strong>Last Name:</strong> {{ profileUser.last_name }}</p>
    <h3>Followers ({{ profileUser.followers.length }})</h3>
    <ul>
        {{#each profileUser.followers}}
        <li>
            <a href="/users/{{ this }}">{{ this }}</a>
        </li>
        {{/each}}
    </ul>

    <h3>Following ({{ profileUser.following.length }})</h3>
    <ul>
        {{#each profileUser.following}}
        <li>
            <a href="/users/{{ this }}">{{ this }}</a>
        </li>
        {{/each}}
    </ul>
</div>

<!-- Action Buttons -->
{{#if user}}
    {{#if isSubscribed}}
        <button onclick="handleFollowAction('unfollow', '{{profileUser._id}}')">
            Unfollow
        </button>
    {{else}}
        <button onclick="handleFollowAction('follow', '{{profileUser._id}}')">
            Follow
        </button>
    {{/if}}
{{else}}
    <button onclick="window.location.href='/sign-in'">
        Follow
    </button>
{{/if}}

<script src="/js/userActions.js"></script>
