<!-- filepath: views/users/profile.hbs -->

<div class="profile__details">
    <p><strong>First Name:</strong> {{ profileUser.first_name }}</p>
    <p><strong>Last Name:</strong> {{ profileUser.last_name }}</p>
    <h3>Followers ({{ profileUser.followers.length }})</h3>
    <ul>
        {{#each profileUser.followers}}
        <li>
            <a href="/users/{{ this }}">{{ this }}</a>
        </li>
        {{/each}}
    </ul>

    <h3>Following ({{ profileUser.following.length }})</h3>
    <ul>
        {{#each profileUser.following}}
        <li>
            <a href="/users/{{ this }}">{{ this }}</a>
        </li>
        {{/each}}
    </ul>
</div>

<!-- Action Buttons -->
{{#if isSubscribed}}
<form action="/users/{{ profileUser._id }}/unfollow" method="POST">
    <button type="submit">Unfollow</button>
</form>
{{else}}
<form action="/users/{{ profileUser._id }}/follow" method="POST">
    <button type="submit">Follow</button>
</form>
{{/if}}
