<main class="container recipe-detail">
    <div class="row">
        <div class="col-8">
            <h1 class="recipe-detail__heading">
                {{ recipe.title }}
            </h1>
            {{#if recipe.image}}
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="recipe-detail__image" />
            {{else}}
                <img src="/assets/img/recipe-placeholder.jpg" alt="{{ recipe.title }}" class="recipe-detail__image" />
            {{/if}}

            <p>
                {{ recipe.description }}
            </p>
        </div>
        <div class="col-4"></div>
    </div>
</main>
